@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap'); */

@import 'theme';

@layer base {
	h1,
	h2,
	h3 {
		@apply text-header font-medium font-mont;
	}

	h1 {
		@apply text-2xl md:text-3xl mb-4;
	}
	h2 {
		@apply text-lg md:text-xl;
	}
	h3 {
		@apply my-1 leading-none font-mont text-subheader;
	}
}

@media screen and (min-width: 1920px) and (min-height: 1080px) {
	html {
		font-size: 110%;
	}
}

body {
	@apply h-screen font-sans;
}

#app {
	@apply h-screen;
	overflow-y: auto;
}

#app-bg {
	background: var(--bg);
	@apply text-textbase;
}

a,
.fake-link {
	@apply underline text-link hover:text-linkhover cursor-pointer;
}

p {
	@apply my-4;
}

img {
	image-rendering: -webkit-optimize-contrast;
	/* image-rendering: crisp-edges; */
}
.filter-shadow {
	filter: drop-shadow(2px 4px 4px #00000022);
}

button,
input[type='button'] {
	&:focus {
		outline: none;
	}
}

li::marker {
	@apply text-textweak;
}

.column-glow {
	width: 100%;
	height: 100%;
	opacity: 0.2;
	box-shadow: inset 0 48px 48px -48px var(--columnheaderhighlight);
}

.notice-fade {
	background: linear-gradient(90deg, var(--cardbase) -25%, transparent 75%);
}

.modal {
	animation: fadein 0.15s;
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
