.dark {
	--primary0: hsl(218, 60%, 96%);
	--primary1: hsl(218, 50%, 87%);
	--primary2: hsl(218, 30%, 77%);
	--primary3: hsl(218, 25%, 66%);
	--primary4: hsl(218, 20%, 55%);
	--primary5: hsl(218, 20%, 45%);
	--primary6: hsl(218, 20%, 35%);
	--primary7: hsl(218, 25%, 27%);
	--primary8: hsl(218, 30%, 18%);
	--primary9: hsl(218, 32%, 14%);
	--bg: linear-gradient(
		180deg,
		hsl(220, 50%, 8%) 10%,
		hsl(215, 40%, 16%) 100%
	);
	/* --cardborder: var(--primary7); */
	--cardbase: var(--primary8);
	--cardhover: var(--primary7);
	--columnheader: transparent;
	--link: hsl(200, 80%, 70%);
	--linkhover: hsl(200, 80%, 75%);
	--tab: var(--primary7);
	--tabhover: var(--primary6);
	--tabcurrent: var(--primary5);
	--tabtext: var(--primary3);
	--tabtexthover: var(--primary3);
	--tabcurrenttext: var(--primary0);
	--text: var(--primary3);
	--textstrong: var(--primary1);
	--textweak: var(--primary4);
	--header: var(--primary1);
	--subheader: var(--primary2);
	--navicon: var(--primary4);
	--navtext: var(--primary4);
	--navcurrent: var(--primary0);
	--navhover: var(--primary0);
	--rosterbutton: var(--primary7);
}
.light {
	--primary0: hsl(44, 10%, 98%);
	--primary1: hsl(44, 10%, 94%);
	--primary2: hsl(35, 10%, 90%);
	--primary3: hsl(26, 10%, 80%);
	--primary4: hsl(26, 10%, 70%);
	--primary5: hsl(26, 10%, 60%);
	--primary6: hsl(24, 14%, 50%);
	--primary7: hsl(24, 14%, 40%);
	--primary8: hsl(24, 14%, 30%);
	--primary9: hsl(24, 20%, 20%);
	--secondary0: hsl(218, 55%, 97%);
	--secondary1: hsl(218, 41%, 85%);
	--secondary2: hsl(218, 25%, 70%);
	--secondary3: hsl(218, 25%, 60%);
	--secondary4: hsl(218, 20%, 50%);
	--secondary5: hsl(218, 15%, 40%);
	--secondary6: hsl(218, 20%, 30%);
	--secondary7: hsl(218, 25%, 20%);
	--secondary8: hsl(218, 30%, 16%);
	--secondary9: hsl(218, 35%, 12%);
	--bg: var(--primary2);
	--cardborder: var(--primary0);
	--cardbase: var(--primary1);
	--cardhover: var(--primary2);
	--columnheader: var(--primary3);
	--columnheadertext: var(--primary6);
	--link: hsl(200, 100%, 50%);
	--linkhover: hsl(200, 100%, 30%);
	--tab: var(--secondary6);
	--tabhover: var(--secondary5);
	--tabcurrent: var(--secondary5);
	--tabtext: var(--secondary2);
	--tabtexthover: var(--secondary2);
	--tabcurrenttext: var(--secondary0);
	--text: var(--primary7);
	--textstrong: var(--primary8);
	--textweak: var(--primary3);
	--header: var(--primary9);
	--subheader: var(--primary8);
	--navicon: var(--primary5);
	--navtext: var(--primary5);
	--navcurrent: var(--primary8);
	--navhover: var(--primary8);
	--rosterbutton: var(--primary2);
}
